@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Baskerville';
  src:
    local('Baskerville'),
    url('/baskvl.woff') format('woff');
}

@font-face {
  font-family: 'Baskerville Normal';
  src:
    local('Baskerville Normal'),
    url('/baskvl.woff') format('woff');
}

html {
  @apply bg-dark;
  @apply text-light;
  font-family: 'Baskerville Normal', 'arial';
}

input,
select,
option {
  @apply bg-superdark;
}

body {
  min-width: 300px;
}
