@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Baskerville";
  src:
    local("Baskerville"),
    url("/baskvl.woff") format("woff");
}

@font-face {
  font-family: "Baskerville Normal";
  src:
    local("Baskerville Normal"),
    url("/baskvl.woff") format("woff");
}

html {
  background-color: #1b1b2b;
  color: #fbfbeb;
  font-family: "Baskerville Normal", "arial";
}
